#header{
        background:url("");
}

body{
       	background-position:right top;
	background-image:http://i.imgur.com/xnBFfco.jpg;  
	background-repeat: no-repeat;
}

.chat-log{
	font-size:10pt;
	overflow:auto;
	background-image:url(http://i.imgur.com/GP7DoaZ.png);
	background-repeat: no-repeat;
}

.menugroup .button{
        background:#3A5FCD;
}

.menugroup .menugroup{
        text-align:center;
}

.button:hover{
        background:#4876FF;
}

.userlist{
        border-left:1px solid #D5DDE4;
        background:#C8CDD1;
}



